@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
h1 {
  margin: 10px;
  text-align: center;
  color: blue;
}
.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pictures .picture {
  font-size: 1.2rem;
  padding: 1rem;
  width: 400px;
}
.imageContainer {
  overflow: hidden;
  height: 40vh;
}

.pictures .picture .imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all 0.3s ease;
}
.pictures .picture .imageContainer img:hover {
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
}
.pictures .picture .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
